<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>nmap</string>
		<string>kakaomap</string>
		<string>kakaonavi</string>
		<string>tmap</string>
		<string>comgooglemaps</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.peragra.app.share-import</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>peragra</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
