@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-brand-50: #fff7f5;
  --color-brand-100: #ffe9e2;
  --color-brand-200: #ffcdbd;
  --color-brand-300: #ffa88f;
  --color-brand-400: #ff7a56;
  --color-brand-500: #f9532c;
  --color-brand-600: #e13c17;
  --color-brand-700: #b92e10;
  --color-brand-800: #922612;
  --color-brand-900: #762212;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #faf8f6;
  color: #201a17;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  font-family: inherit;
}
